PORT=3000
NODE_ENV=development

# Supabase credentials
SUPABASE_URL=https://gihdkqozknxxokklmqvz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpaGRrcW96a254eG9ra2xtcXZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUzMDcwNzQsImV4cCI6MjA2MDg4MzA3NH0.cKqbyZStKBpkMOqEF-cVMC5r6vKSRK9JJL4xKCOW7oY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpaGRrcW96a254eG9ra2xtcXZ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTMwNzA3NCwiZXhwIjoyMDYwODgzMDc0fQ.fPhzZsDf_GC2bfBcEBu62jWRNY_G7npUqp8hDRoTVyc

# Database connection strings
DATABASE_URL="postgresql://postgres.gihdkqozknxxokklmqvz:divizyon123@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.gihdkqozknxxokklmqvz:divizyon123@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"